<template>
  <div>
    <b-navbar>
      <template slot="brand">
        <b-navbar-item tag="router-link" :to="{ path: '/' }">
          <img src="../../assets/logo.png" alt="Logo" />
        </b-navbar-item>
      </template>
      <template slot="start">
        <b-navbar-item href="/"> Home </b-navbar-item>
        <!-- <b-navbar-item href="#"> About Us </b-navbar-item>
        <b-navbar-dropdown label="Info">
          <b-navbar-item href="#"> About </b-navbar-item>
          <b-navbar-item href="#"> Contact </b-navbar-item>
        </b-navbar-dropdown> -->
      </template>

      <template slot="end">
        <b-navbar-item tag="div">
          <div class="buttons">
            <b-button
              v-if="isAuthenticated && user.role == 'student'"
              type="is-secondary"
              @click="isJoinClassModalActive = true"
            >
              <strong>Join Course</strong>
            </b-button>
            <b-button
              v-if="isAuthenticated && user.role == 'teacher'"
              type="is-secondary"
              @click="isCreateClassModalActive = true"
            >
              <strong>Create Course</strong>
            </b-button>
            <b-button
              v-if="isAuthenticated"
              type="is-primary"
              @click="logout()"
            >
              Logout
            </b-button>
            <router-link
              v-if="!isAuthenticated"
              :to="{ path: '/register' }"
              style="padding-right: 12px"
            >
              <a class="button is-secondary">
                <strong>Sign up</strong>
              </a>
            </router-link>
            <router-link v-if="!isAuthenticated" :to="{ path: '/login' }">
              <a class="button is-primary">
                <strong>Log in</strong>
              </a>
            </router-link>
          </div>
        </b-navbar-item>
      </template>
    </b-navbar>

    <!-- Modal For Create Class-->
    <b-modal
      v-model="isCreateClassModalActive"
      has-modal-card
      trap-focus
      :destroy-on-hide="false"
    >
      <ValidationObserver v-slot="{ handleSubmit }">
        <form @submit.prevent="handleSubmit(propsCreateCourse)">
          <div class="modal-card">
            <header class="modal-card-head">
              <p class="modal-card-title">Create Course</p>
            </header>
            <section class="modal-card-body">
              <ValidationProvider
                name="name"
                rules="required"
                v-slot="{ errors }"
              >
                <b-field label="Course Name">
                  <b-input
                    v-model="formCreate.name"
                    placeholder="Course Name"
                  ></b-input>
                </b-field>
                <span class="required">{{ errors[0] }}</span>
              </ValidationProvider>

              <ValidationProvider
                name="description"
                rules="required"
                v-slot="{ errors }"
              >
                <b-field label="Course Description">
                  <b-input
                    v-model="formCreate.description"
                    placeholder="Description"
                  ></b-input>
                </b-field>
                <span class="required">{{ errors[0] }}</span>
              </ValidationProvider>
            </section>
            <footer class="modal-card-foot">
              <b-button type="is-primary" native-type="submit"
                >Create Course</b-button
              >
            </footer>
          </div>
        </form>
      </ValidationObserver>
    </b-modal>

    <!-- Modal For Join Class -->
    <b-modal
      v-model="isJoinClassModalActive"
      has-modal-card
      trap-focus
      :destroy-on-hide="false"
    >
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">Join Course</p>
        </header>
        <section class="modal-card-body">
          <b-field label="Class Code">
            <b-input
              v-model="classCode"
              placeholder="Ask your teacher for class code"
              required
            >
            </b-input>
          </b-field>
        </section>
        <footer class="modal-card-foot">
          <button @click="propsJoinCourse()" class="button is-primary" :disabled="classCode == ''">
            Join Course
          </button>
        </footer>
      </div>
    </b-modal>
  </div>
</template>

<script>
import JWTService from "../../js/helpers/jwt.service";

export default {
  data() {
    return {
      isAuthenticated: null,
      user: null,

      // form create class
      formCreate: {
        name: "",
        description: "",
      },

      // form join class
      classCode: "",

      // For Modal
      isJoinClassModalActive: false,
      isCreateClassModalActive: false,
    };
  },
  mounted() {
    this.isAuthenticated = JWTService.isAuthenticated();
    this.getUserLogin();
  },
  methods: {
    getUserLogin() {
      var x = JWTService.getUser();
      if (x != "") {
        this.user = JSON.parse(x);
      }
    },
    logout() {
      JWTService.destroyUser();
      this.$router.push({ path: "/login" });
      location.reload();
    },
    propsJoinCourse() {
      this.$buefy.dialog.confirm({
        title: "Join Course",
        message: `Are you sure want to join this course?`,
        cancelText: "No",
        confirmText: "Yes",
        type: "is-primary",
        onConfirm: () => this.saveJoinCourse(),
      });
    },
    saveJoinCourse() {
      let sentData = {
        user_id : this.user._id,
        code_course : this.classCode
      };

      axios.post(process.env.MIX_BACKEND_URL + "/api/course/join-course", sentData)
        .then((response) => {
          if (response.status == 200) {
            this.success("Success join new course!")
            location.reload();
          } else {
            this.danger("Course is already exist!");
          }
        })
        .catch((err) => {
          this.danger(err);
        });
    },
    propsCreateCourse() {
      console.log(this.user);
      this.$buefy.dialog.confirm({
        title: "Create New Course",
        message: `Are you sure want to create this course?`,
        cancelText: "No",
        confirmText: "Yes",
        type: "is-primary",
        onConfirm: () => this.saveCreateCourse(),
      });
    },
    saveCreateCourse() {
      let sentData = {
        name: this.formCreate.name,
        description: this.formCreate.description,
        user: this.user
      };

      axios.post(process.env.MIX_BACKEND_URL + "/api/course", sentData)
        .then(() => {
          this.success("Success create new course!")
          location.reload();
        })
        .catch((err) => {
          this.danger(err);
        });
    },
    success(message) {
      this.$buefy.toast.open({
        message: message,
        type: "is-success",
      });
    },
    danger(message) {
      this.$buefy.toast.open({
        message: message,
        type: "is-danger",
      });
    },
  },
};
</script>