<template>
    <div style="min-height: 100vh; background-color: #f5f5f5">
        <Navbar />
        <router-view></router-view>
    </div>
</template>

<script>
import Navbar from '../components/Navbar';

export default {
    components: {
        Navbar
    },
}
</script>

<style lang="scss">
@import "../../css/custom.scss";
</style>