<template>
  <div class="columns is-multiline" v-if="isLoading">
    <div class="column is-12" style="padding: 48px 60px">
      <div class="card">
        <div class="card-content header-course">
          <div class="content">
            <p class="title is-2" style="color: white">{{ course.name }}</p>
            <p class="subtitle is-4" style="color: white; margin-bottom: 5px">{{ course.description }}</p>
            <p class="subtitle is-5" style="color: white">Code Class : {{ course.code_course }}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="column is-9" style="padding: 0 48px 48px 60px">
      <div class="content-post">
        <p class="title is-3">NEW POSTS</p>

        <b-carousel-list          
          :data="dataPost"
          :items-to-show="3"
          :has-drag="true"
        >
          <template slot="item" slot-scope="list">
            <router-link :to="{ path:`/post/${list._id}` }">
              <div class="card post" style="min-height: 220px">
                <div class="card-image is-flex" style="justify-content: center; padding-top: 20px">
                  <figure class="image is-96x96">
                    <img class="is-rounded" src="../../assets/tasks.png" />
                  </figure>
                </div>
                <div class="card-content">
                  <div class="content">
                    <p class="title is-6">{{ list.title }}</p>
                    <p class="subtitle is-6" style="color: hsl(0, 0%, 66%); padding-top: 3px">
                      Post by {{ list.user.name }}
                    </p>
                  </div>
                </div>
              </div>
            </router-link>
          </template>
        </b-carousel-list>
      </div>

      <div class="content-material">
        <p class="title is-3">LEARNING MATERIALS</p>

        <b-carousel-list
          :data="dataPostMaterial"
          :items-to-show="3"
          :has-drag="true"
        >
          <template slot="item" slot-scope="list">
            <router-link :to="{ path:`/post/${list._id}` }">
              <div class="card post" style="min-height: 220px">
                <div class="card-image is-flex" style="justify-content: center; padding-top: 20px">
                  <figure class="image is-96x96">
                    <img class="is-rounded" src="../../assets/material.png" />
                  </figure>
                </div>
                <div class="card-content">
                  <div class="content">
                    <p class="title is-6">{{ list.title }}</p>
                    <p class="subtitle is-6" style="color: hsl(0, 0%, 66%); padding-top: 3px">
                      Post by {{ list.user.name }}
                    </p>
                  </div>
                </div>
              </div>
            </router-link>
          </template>
        </b-carousel-list>
      </div>

      <div class="content-tutor">
        <p class="title is-3">TUTORS</p>
        <div class="columns">
          <div class="column is-half" v-for="(tutor, index) in dataTutor" :key="tutor._id" :index="index">
            <div class="card" style="margin-right: 24px" v-if="index % 2 == 0">
              <div class="card-content">
                <div class="content is-flex">
                  <b-icon
                    pack="fas"
                    icon="user"
                    size="is-large"
                    style="margin-right: 24px"
                  />
                  <span>
                    <p class="title is-5">{{ tutor.name }}</p>
                    <p class="subtitle is-6" style="color: hsl(0, 0%, 66%)">
                      {{ tutor.email }}
                    </p>
                  </span>
                </div>
              </div>
            </div>

            <div class="card" v-else>
              <div class="card-content">
                <div class="content is-flex">
                  <b-icon
                    pack="fas"
                    icon="user"
                    size="is-large"
                    style="margin-right: 24px"
                  />
                  <span>
                    <p class="title is-5">{{ tutor.name }}</p>
                    <p class="subtitle is-6" style="color: hsl(0, 0%, 66%)">
                      {{ tutor.email }}
                    </p>
                  </span>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="column is-3" style="padding: 0 60px 48px 0">
      <p class="title is-3">UPCOMING</p>
      <!-- For Assessments -->
      <div class="card">
        <header
          class="card-header is-flex"
          style="cursor: pointer"
          @click="showAssesstments()"
        >
          <p class="card-header-title">
            Assignment ({{ dataAssignment ? dataAssignment.length : 0 }})
            <span class="required">*</span>
          </p>
          <p class="card-header-icon">
            <b-icon v-if="!openedAssessment" pack="fas" icon="angle-up" />
            <b-icon v-else pack="fas" icon="angle-down" />
          </p>
        </header>
        <div class="card-content" id="assesstment">
          <div class="content">
            <p v-for="assignment in dataAssignment" :key="assignment._id">
              <router-link :to="{ path: `/post/${assignment._id}` }" >
                {{ assignment.title }}
              </router-link>
            </p>
          </div>
        </div>
      </div>

      <div class="buttons" style="margin-top: 12px">
        <b-button 
          type="is-primary" 
          tag="router-link" 
          :to="{ path:`/post/create/${$route.params.courseId}` }" 
          expanded
        >
          Create Post
        </b-button>
        <b-button @click="isaddTutorModalActive = true" v-if="user.role == 'teacher'" type="is-primary" expanded>Add Tutor</b-button>
      </div>
    </div>

    <!-- Modal for add tutor -->
    <b-modal
      v-model="isaddTutorModalActive"
      has-modal-card
      trap-focus
      :destroy-on-hide="false"
    >
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">Add Tutor</p>
        </header>
        <section class="modal-card-body">
          <b-field label="Tutor Email">
            <b-input
              type="email"
              v-model="tutor_email"
              placeholder="Tutor email"
              required
            >
            </b-input>
          </b-field>
        </section>
        <footer class="modal-card-foot">
          <button @click="propsAddTutor()" class="button is-primary" :disabled="tutor_email == ''">
            Add Tutor
          </button>
        </footer>
      </div>
    </b-modal>
  </div>
</template>

<script>
import JWTService from '../../js/helpers/jwt.service';
export default {
  data() {
    return {
      tutor_email: '',
      user: null,
      isLoading: false,
      course: null,
      dataPost: [],
      dataPostMaterial: [],
      dataTutor: [],
      dataAssignment: [],

      // For Upcoming
      openedAssessment: false,

      // For Modal
      isaddTutorModalActive: false,

    };
  },
  mounted() {
    this.getUserLogin();
    this.fetchDataCourseById();
    this.fetchDataPost();
    this.fetchDataMaterial();
    this.fetchDataAssignment();
    this.fetchDataTutor();
  },
  methods: {
    getUserLogin() {
      var x = JWTService.getUser();
      if (x != "") {
        this.user = JSON.parse(x);
      }
    },
    fetchDataCourseById() {
      axios.get(process.env.MIX_BACKEND_URL + `/api/course/${this.$route.params.courseId}/show`)
        .then((response) => {
          this.course = response.data;
        })
        .catch((err) => {
          this.danger(err);
        });
    },
    fetchDataPost() {
      axios.get(process.env.MIX_BACKEND_URL + "/api/post/get-post?id=" + this.$route.params.courseId)
        .then((response) => {
          this.dataPost = response.data;
        })
        .catch((err) => {
          this.danger(err);
        });
    },
    fetchDataMaterial() {
      axios.get(process.env.MIX_BACKEND_URL + "/api/post/get-post-material?id=" + this.$route.params.courseId)
        .then((response) => {
          this.dataPostMaterial = response.data;
        })
        .catch((err) => {
          this.danger(err);
        });
    },
    fetchDataAssignment() {
      axios.get(process.env.MIX_BACKEND_URL + "/api/post/get-assignment?id=" + this.$route.params.courseId + "&user_id=" + this.user._id)
        .then((response) => {
          this.dataAssignment = response.data;
        })
        .catch((err) => {
          this.danger(err);
        });
    },
    fetchDataTutor() {
      axios.get(process.env.MIX_BACKEND_URL + "/api/course/get-tutor?id=" + this.$route.params.courseId)
        .then((response) => {
          this.dataTutor = response.data;
          this.isLoading = true;
        })
        .catch((err) => {
          this.danger(err);
        });
    },
    showAssesstments() {
      this.openedAssessment = !this.openedAssessment;
      if (this.openedAssessment) {
        document.getElementById("assesstment").style.display = "block";
      } else {
        document.getElementById("assesstment").style.display = "none";
      }
    },
    propsAddTutor() {
      this.$buefy.dialog.confirm({
        title: "Add New Tutor",
        message: `Are you sure want to add tutor to this course?`,
        cancelText: "No",
        confirmText: "Yes",
        type: "is-primary",
        onConfirm: () => this.saveAddTutor(),
      });
    },
    saveAddTutor() {
      let sentData = {
        email: this.tutor_email,
        course_id: this.$route.params.courseId
      };

      axios.post(process.env.MIX_BACKEND_URL + "/api/course/add-tutor", sentData)
        .then((response) => {
          if (response.status == 200) {
            this.success("Success add new tutor to this course!")
            location.reload();
          } else if(response.status == 203) {
            this.danger("That user has already in this class!");
          } else {
            this.danger("There are no teacher user's with that email!")
          }
          
        })
        .catch((err) => {
          this.danger(err);
        });
    },
    success(message) {
      this.$buefy.toast.open({
        message: message,
        type: "is-success",
      });
    },
    danger(message) {
      this.$buefy.toast.open({
        message: message,
        type: "is-danger",
      });
    },
  },
};
</script>

<style scoped>
.column {
  padding: 0;
}

.header-course {
  background-image: url("../../assets/bigdata.jpg");
  background-repeat: no-repeat;
  background-position: right top;
  background-size: cover;
  height: 400px;
  color: white;
}

#assesstment {
  display: none;
  height: 190px; 
  max-height: 190px; 
  overflow: auto;
}

.content-material {
  margin-top: 24px;
}

.content-tutor {
  margin-top: 24px;
}

::-webkit-scrollbar {
  visibility: visible;
}

.post:hover {
  background-color: lightgray;
}
</style>