<template>
  <div class="columns is-centered" v-if="isLoading">
    <div class="column is-three-fifths">
      <ValidationObserver v-slot="{ handleSubmit }">
        <form @submit.prevent="handleSubmit(propAddPost)">
          <section class="section is-main-section">
            <div class="card">
              <div class="card-content" style="position: relative">
                <p style="text-align: center; font-size: 24px">
                  <b>Create Post</b>
                </p>
                <br />

                <div class="column">
                  <ValidationProvider
                    :vid="`title`"
                    name="title"
                    rules="required"
                    v-slot="{ errors }"
                  >
                    <b-field
                      label="Title"
                    >
                      <b-input
                        v-model="form.title"
                        placeholder="Title"
                      ></b-input>
                    </b-field>
                    <span class="required">{{ errors[0] }}</span>
                  </ValidationProvider>
                </div>

                <div class="column">
                  <ValidationProvider
                    :vid="`title`"
                    name="title"
                    rules="required"
                    v-slot="{ errors }"
                  >
                    <b-field
                      label="Content"
                    >
                      <b-input
                        type="textarea"
                        maxlength="255"
                        v-model="form.content"
                        placeholder="Description content (optional)"
                      ></b-input>
                    </b-field>
                    <span class="required">{{ errors[0] }}</span>
                  </ValidationProvider>
                </div>

                <div class="column">
                  <ValidationProvider
                    :vid="`type`"
                    name="type"
                    rules="required"
                    v-slot="{ errors }"
                  >
                    <b-field
                      label="Type of Post"
                    >
                      <b-select
                        v-model="form.type"
                        placeholder="Select a type of post"
                        expanded
                      >
                        <option value="0">Normal Post</option>
                        <option v-if="user.role == 'teacher'" value="1">
                          Material Post
                        </option>
                        <option v-if="user.role == 'teacher'" value="2">
                          Assignment Post
                        </option>
                      </b-select>
                    </b-field>
                    <span class="required">{{ errors[0] }}</span>
                  </ValidationProvider>
                </div>

                <div class="column">
                  <b-field label="Upload Files">
                    <b-field>
                      <b-upload
                        v-model="form.files"
                        multiple
                        drag-drop
                        expanded
                      >
                        <section class="section">
                          <div class="content has-text-centered">
                            <p>
                              <b-icon icon="upload" size="is-large"></b-icon>
                            </p>
                            <p>Drop your files here or click to upload</p>
                          </div>
                        </section>
                      </b-upload>
                    </b-field>
                  </b-field>
                </div>

                <div class="column">
                  <div class="tags">
                    <span
                      v-for="(file, index) in form.files"
                      :key="index"
                      class="tag is-primary"
                    >
                      {{ file.name }}
                      <button
                        class="delete is-small"
                        type="button"
                        @click="deleteFile(index)"
                      ></button>
                    </span>
                  </div>
                </div>

                <div class="column">
                  <b-button type="is-primary" native-type="submit" expanded>
                    Create Post
                  </b-button>
                </div>
              </div>
            </div>
          </section>
        </form>
      </ValidationObserver>
    </div>
  </div>
</template>

<script>
import JWTService from "../../js/helpers/jwt.service";
export default {
  data() {
    return {
      isLoading: false,
      user: "",
      form: {
        title: "",
        content: "",
        type: 0,
        files: [],
      },
    };
  },
  mounted() {
    this.getUserLogin();
  },
  methods: {
    // For get user who is login
    getUserLogin() {
      var x = JWTService.getUser();
      if (x != "") {
        this.user = JSON.parse(x);
      }
      this.isLoading = true;
    },
    // For prop add post
    propAddPost() {
      this.$buefy.dialog.confirm({
        title: "Create New Post",
        message: `Are you sure want to create this post?`,
        cancelText: "No",
        confirmText: "Yes",
        type: "is-primary",
        onConfirm: () => this.savePost(),
      });
    },
    savePost() {
      let formData = new FormData();
      formData.append('course_id', this.$route.params.courseId);
      formData.append('user_id', this.user._id);
      formData.append('title', this.form.title);
      formData.append('content', this.form.content);
      formData.append('type', this.form.type);

      for (let i = 0; i < this.form.files.length; i++) {
        formData.append('attachments[]', this.form.files[i]);
      } 

      const header = { headers: { 'Content-Type': 'multipart/form-data' } };

      axios
        .post(process.env.MIX_BACKEND_URL + "/api/post", formData, header)
        .then((response) => {
          this.success('Success create new post!')
          this.$router.push({ path: `/course/${this.$route.params.courseId}` });
        })
        .catch((err) => {
          this.danger(err);
        });
    },
    deleteFile(index) {
      this.form.files.splice(index, 1);
    },
    success(message) {
      this.$buefy.toast.open({
        message: message,
        type: "is-success",
      });
    },
    danger(message) {
      this.$buefy.toast.open({
        message: message,
        type: "is-danger",
      });
    },
  },
};
</script>