<template>
  <div class="columns is-multiline">
    <div class="column is-3" v-for="course in dataCourse" :key="course._id">
      <router-link :to="{ path: `/course/${course.course._id}` }">
        <div class="card">
          <header class="card-header">
            <p class="title is-5" style="color: white">{{ course.course.name }}</p>
            <p class="subtitle is-6" style="color: white; margin-bottom: 5px">{{ course.course.description }}</p>
            <p class="subtitle is-6" style="color: white">{{ course.course.teacher_name }}</p>
          </header>
          <div class="card-content">
            <div class="content">
              <!-- Buat isi assignment -->
              <p v-for="post in course.posts" :key="post._id">
                <router-link :to="{ path: `/post/${post._id}` }" >
                  {{ post.title }}
                </router-link>
              </p>
            </div>
          </div>
          <!-- <footer class="card-footer">
              <a href="#" class="card-footer-item">Save</a>
              <a href="#" class="card-footer-item">Edit</a>
              <a href="#" class="card-footer-item">Delete</a>
          </footer> -->
        </div>
      </router-link>
    </div>
  </div>
</template>

<script>
import JWTService from '../../js/helpers/jwt.service';
export default {
  data() {
    return {
      dataCourse: [],
      user: null
    };
  },
  async mounted() {
    await this.getUserLogin();
    this.fetchData();
  },
  methods: {
    getUserLogin() {
      var x = JWTService.getUser();
      if (x != "") {
        this.user = JSON.parse(x);
      }
    },
    fetchData() {
      axios.get(process.env.MIX_BACKEND_URL + "/api/user-course?id=" + this.user._id)
        .then((response) => {
          this.dataCourse = response.data;
        })
        .catch((err) => {
          this.danger(err);
        });
    },
    success(message) {
      this.$buefy.toast.open({
        message: message,
        type: "is-success",
      });
    },
    danger(message) {
      this.$buefy.toast.open({
        message: message,
        type: "is-danger",
      });
    },
  }
};
</script>

<style scoped>
.card-header {
  background-image: url("../../assets/bigdata.jpg");
  background-repeat: no-repeat;
  background-position: right top;
  background-size: cover;
  flex-direction: column;
  height: 100px;
  padding: 18px;
}

.card-content {
  max-height: 175px; 
  height: 175px; 
  overflow: auto;
}

::-webkit-scrollbar {
  visibility: visible;
}
</style>