<template>
  <section v-if="isLoading">
    <b-tabs type="is-boxed" position="is-centered" class="block">
      <b-tab-item label="Instruction">
        <div class="columns is-centered px-6 pt-5 mx-6">
          <div class="column is-two-thirds">
            <div class="header is-flex" style="border-bottom: 1px solid black">
              <figure class="image is-96x96">
                <img class="is-rounded" src="../../assets/tasks.png" />
              </figure>
              <div class="title-post">
                <p class="title is-2">{{ posts.title }}</p>
                <p class="subtitle is-5">{{ posts.user.name }}</p>
              </div>
            </div>
            <div class="content" style="margin-top: 5px; text-align: justify">
              <p>{{ posts.content }}</p>
              <div class="attachment">
                <div class="columns is-multiline" style="padding-left: 0">
                  <div class="column is-3" v-for="file in posts.files" :key="file._id">
                    <a :href="file.path" @click.prevent="downloadItem(file)">
                      <div class="card is-flex" style="align-items: center; justify-content: center">
                        <b-icon v-if="file.extention == 'docx'" icon="file-word" size="is-large" />
                        <b-icon v-else-if="file.extention == 'pdf'" icon="file-pdf" size="is-large" />
                        <b-icon v-else-if="file.extention == 'ppt' || file.extention == 'pptx'" icon="file-powerpoint" size="is-large" />
                        <b-icon v-else-if="file.extention == 'xls' || file.extention == 'xlsx'" icon="file-excel" size="is-large" />
                        <b-icon v-else-if="file.extention == 'jpg' || file.extention == 'jpeg' || file.extention == 'png'" icon="file-image" size="is-large" />
                        <b-icon v-else-if="file.extention == 'csv'" icon="file-csv" size="is-large" />
                        <b-icon v-else-if="file.extention == 'rar'" icon="archive" size="is-large" />
                        <b-icon v-else-if="file.extention == 'mp3'" icon="music" size="is-large" />
                        <b-icon v-else-if="file.extention == 'mp4' || file.extention == 'mkv'" icon="video" size="is-large" />
                        <b-icon v-else icon="file-alt" size="is-large" />
                        <p>file.{{ file.extention }}</p>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="column is-one-third" v-if="user.role == 'student' && posts.type == 2">
            <div class="card">
              <header class="card-header">
                <p class="card-header-title">ASSIGNMENT</p>
                <div class="level mr-4">
                  <div class="level-right">
                    <p class="level-item">
                      <strong>Graded : {{ posts.assignment? posts.assignment.grade : 0 }}</strong>
                    </p>
                  </div>
                </div>
              </header>
              <div class="card-content" v-if="posts.assignment == null">
                <div class="content">
                  <b-field label="Text">
                    <b-input v-model="form.description" maxlength="255" type="textarea" placeholder="Answer text (optional)"></b-input>
                  </b-field>
                  <div class="tags">
                    <span v-for="(file, index) in form.files" :key="index" class="tag is-primary">
                      {{file.name}}
                      <button class="delete is-small" type="button" @click="deleteDropFile(index)"></button>
                    </span>
                  </div>
                  <div class="buttons">
                    <b-button @click="isUploadModalActive = true" type="is-secondary" icon-left="upload" expanded style="margin-bottom: 24px">Upload File</b-button>
                    <b-button @click="propsAssignment()" type="is-primary" expanded :disabled="form.description == '' && form.files.length == 0">Submit</b-button>
                  </div>
                </div>
              </div>
              <!-- For after submit -->
              <div class="card-content" v-else>
                <div class="content">
                  <b-field label="Text">
                    <b-input v-model="form.description" maxlength="255" type="textarea" disabled></b-input>
                  </b-field>

                  <div class="column" style="padding: 0; margin-bottom: 24px" v-for="file in posts.assignment.files" :key="file._id">
                    <a :href="file.path" @click.prevent="downloadItem(file)">
                      <div class="card is-flex" style="align-items: center; justify-content: center">
                        <b-icon v-if="file.extention == 'docx'" icon="file-word" size="is-large" />
                        <b-icon v-else-if="file.extention == 'pdf'" icon="file-pdf" size="is-large" />
                        <b-icon v-else-if="file.extention == 'ppt' || file.extention == 'pptx'" icon="file-powerpoint" size="is-large" />
                        <b-icon v-else-if="file.extention == 'xls' || file.extention == 'xlsx'" icon="file-excel" size="is-large" />
                        <b-icon v-else-if="file.extention == 'jpg' || file.extention == 'jpeg' || file.extention == 'png'" icon="file-image" size="is-large" />
                        <b-icon v-else-if="file.extention == 'csv'" icon="file-csv" size="is-large" />
                        <b-icon v-else-if="file.extention == 'rar'" icon="archive" size="is-large" />
                        <b-icon v-else-if="file.extention == 'mp3'" icon="music" size="is-large" />
                        <b-icon v-else-if="file.extention == 'mp4' || file.extention == 'mkv'" icon="video" size="is-large" />
                        <b-icon v-else icon="file-alt" size="is-large" />
                        <p>file.{{ file.extention }}</p>
                      </div>
                    </a>
                  </div>

                  <div class="buttons">
                    <b-button @click="propsUnsubmitAssignment(posts.assignment._id)" type="is-secondary" expanded>UnSubmit</b-button>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- For Modal Upload -->
          <b-modal
            v-model="isUploadModalActive"
            has-modal-card
            trap-focus
            :destroy-on-hide="false"
          >
            <div class="modal-card">
              <header class="modal-card-head">
                <p class="modal-card-title">Upload File</p>
              </header>
              <section class="modal-card-body">
                <b-field>
                  <b-upload v-model="form.files" multiple drag-drop expanded>
                    <section class="section">
                      <div class="content has-text-centered">
                        <p>
                          <b-icon icon="upload" size="is-large"></b-icon>
                        </p>
                        <p>Drop your files here or click to upload</p>
                      </div>
                    </section>
                  </b-upload>
                </b-field>
                <div class="tags">
                  <span v-for="(file, index) in form.files" :key="index" class="tag is-primary">
                    {{file.name}}
                    <button class="delete is-small" type="button" @click="deleteDropFile(index)"></button>
                  </span>
                </div>
              </section>
              <footer class="modal-card-foot">
                <button
                  @click="isUploadModalActive = false"
                  class="button is-primary"
                >
                  Upload File
                </button>
              </footer>
            </div>
          </b-modal>
        </div>
      </b-tab-item>

      <b-tab-item label="Student's Work" v-if="user.role == 'teacher' && posts.type == 2">
        <div class="columns is-centered px-6 pt-5 mx-6">
          <div class="column">
            <div class="card" v-for="(assignment, index) in dataAssignment" :key="assignment._id" :index="index"
              style="margin-bottom: 24px"
            >
              <header class="card-header">
                <p class="card-header-title">
                  <b-icon icon="user" size="is-large"></b-icon>
                  {{ assignment.user.name }}
                </p>
                <div class="level mr-5">
                  <div class="level-right">
                    <p class="level-item">
                      <strong>
                        <span class="is-flex">
                          Grades : &nbsp;
                          <b-input v-model="grades[index]" type="number" size="is-small" maxlength="3" style="width: 60px"></b-input>
                          &nbsp;/100
                        </span>
                      </strong>
                    </p>
                    <b-button @click="submitGrade()" class="level-item" type="is-primary">Submit Grade</b-button>
                  </div>
                </div>
              </header>
              <div class="card-content">
                <div class="content">
                  <p class="title is-5">ANSWER</p>
                  <p class="subtitle is-6">{{ assignment.description }}</p>
                  <div class="columns">
                    <div class="column is-3" style="padding: 0; margin-bottom: 24px" v-for="file in assignment.files" :key="file._id">
                      <a :href="file.path" @click.prevent="downloadItem(file)">
                        <div class="card is-flex" style="align-items: center; justify-content: center">
                          <b-icon v-if="file.extention == 'docx'" icon="file-word" size="is-large" />
                          <b-icon v-else-if="file.extention == 'pdf'" icon="file-pdf" size="is-large" />
                          <b-icon v-else-if="file.extention == 'ppt' || file.extention == 'pptx'" icon="file-powerpoint" size="is-large" />
                          <b-icon v-else-if="file.extention == 'xls' || file.extention == 'xlsx'" icon="file-excel" size="is-large" />
                          <b-icon v-else-if="file.extention == 'jpg' || file.extention == 'jpeg' || file.extention == 'png'" icon="file-image" size="is-large" />
                          <b-icon v-else-if="file.extention == 'csv'" icon="file-csv" size="is-large" />
                          <b-icon v-else-if="file.extention == 'rar'" icon="archive" size="is-large" />
                          <b-icon v-else-if="file.extention == 'mp3'" icon="music" size="is-large" />
                          <b-icon v-else-if="file.extention == 'mp4' || file.extention == 'mkv'" icon="video" size="is-large" />
                          <b-icon v-else icon="file-alt" size="is-large" />
                          <p>file.{{ file.extention }}</p>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </b-tab-item>
    </b-tabs>
  </section>
</template>

<script>
import JWTService from '../../js/helpers/jwt.service';
export default {
  data() {
    return {
      postId: '',
      user: null,
      posts: null,
      dataAssignment: [],
      grades: [],
      isLoading: false,
      form: {
        files: [],
        description: ''
      },

      // For Modal
      isUploadModalActive: false,
    };
  },
  mounted() {
    this.postId = this.$route.params.postId;
    this.getUserLogin();
    this.fetchData();
    if (this.user.role == 'teacher') {
      this.fetchDataAssignment();
    }
  },
  methods: {
    getUserLogin() {
      var x = JWTService.getUser();
      if (x != "") {
        this.user = JSON.parse(x);
      }
    },
    fetchDataAssignment() {
      this.isLoading = false;

      axios.get(process.env.MIX_BACKEND_URL + `/api/assignment?id=${this.$route.params.postId}`)
        .then((response) => {
          this.isLoading = true;
          this.dataAssignment = response.data;
          this.grades = [];
          for (let i = 0; i < this.dataAssignment.length; i++) {
            this.grades[i] = this.dataAssignment[i].grade;
          }
        })
        .catch((err) => {
          this.isLoading = true;
          this.danger(err);
        });
    },
    fetchData() {
      axios.get(process.env.MIX_BACKEND_URL + `/api/post/${this.$route.params.postId}/show?user_id=${this.user._id}`)
        .then((response) => {
          this.isLoading = true;
          this.posts = response.data;
          if (this.posts.assignment != null) {
            this.form.description = this.posts.assignment.description;
          } else {
            this.form.description = '';
          }
        })
        .catch((err) => {
          this.danger(err);
        });
    },
    downloadItem (file) {
      axios.get(process.env.MIX_BACKEND_URL + '/' + file.path, { responseType: 'blob' })
        .then(response => {
          const blob = new Blob([response.data], { type: 'application/pdf' });
          const link = document.createElement('a');
          link.href = window.URL.createObjectURL(blob);
          link.download = file.name;
          link.click();
          URL.revokeObjectURL(link.href);
        }).catch(console.error);
    },
    propsAssignment() {
      this.$buefy.dialog.confirm({
        title: "Submit Assignment?",
        message: `Are you sure want to submit this assignment?`,
        cancelText: "No",
        confirmText: "Yes",
        type: "is-primary",
        onConfirm: () => this.saveAssignment(),
      });
    },
    saveAssignment() {
      let formData = new FormData();
      formData.append('post_id', this.$route.params.postId);
      formData.append('user_id', this.user._id);
      formData.append('description', this.form.description);

      for (let i = 0; i < this.form.files.length; i++) {
        formData.append('attachments[]', this.form.files[i]);
      }

      const header = { headers: { 'Content-Type': 'multipart/form-data' } };

      axios.post(process.env.MIX_BACKEND_URL + `/api/assignment`, formData, header)
        .then((response) => {
          this.success('Success submit assignment!');
          this.fetchData();
        })
        .catch((err) => {
          this.danger(err);
        });
    },
    propsUnsubmitAssignment(id) {
      this.$buefy.dialog.confirm({
        title: "UnSubmit Assignment?",
        message: `Are you sure want to unsubmit this assignment?`,
        cancelText: "No",
        confirmText: "Yes",
        type: "is-primary",
        onConfirm: () => this.deleteAssignment(id),
      });
    },
    deleteAssignment(id) {
      axios.post(process.env.MIX_BACKEND_URL + `/api/assignment/${id}/delete`)
        .then((response) => {
          this.success("Success unsubmit assignment!");
          this.fetchData();
        })
        .catch((err) => {
          this.danger(err);
        });
    },
    deleteDropFile(index) {
      this.form.files.splice(index, 1);
    },
    submitGrade() {
      let sentData = {
        grades: this.grades
      };

      axios.post(process.env.MIX_BACKEND_URL + `/api/assignment/${this.postId}/update`, sentData)
        .then(() => {
          this.fetchDataAssignment();
        })
        .catch((err) => {
          this.danger(err);
        });
    },
    success(message) {
      this.$buefy.toast.open({
        message: message,
        type: "is-success",
      });
    },
    danger(message) {
      this.$buefy.toast.open({
        message: message,
        type: "is-danger",
      });
    },
  }
};
</script>