<template>
  <div
    class="columns is-centered"
    style="align-items: center"
  >
    <div class="column is-half">
      <ValidationObserver v-slot="{ handleSubmit }">
        <form @submit.prevent="handleSubmit(login)">
          <section class="section is-main-section">
            <div class="card">
              <div class="card-content" style="position: relative">
                <div class="content-image is-flex" style="justify-content: center;">
                  <figure class="image is-64x64">
                    <img src="../../../assets/logo.png" alt="Logo" />
                  </figure>
                </div>
                <p style="text-align: center; font-size: 24px"><b>Login</b></p>
                <br />
                <div class="column">
                  <ValidationProvider
                    :vid="`email`"
                    name="email"
                    rules="required|email"
                    v-slot="{ errors }"
                  >
                    <b-field
                      label="Email"
                      :type="errors.length > 0 ? 'is-danger' : null"
                    >
                      <b-input v-model="form.email" placeholder="Example : admin@gmail.com"></b-input>
                    </b-field>
                    <span class="required">{{ errors[0] }}</span>
                  </ValidationProvider>
                </div>

                <div class="column">
                  <ValidationProvider
                    :vid="`password`"
                    name="password"
                    rules="required"
                    v-slot="{ errors }"
                  >
                    <b-field
                      label="Password"
                      :type="errors.length > 0 ? 'is-danger' : null"
                    >
                      <b-input
                        placeholder="Password"
                        v-model="form.password"
                        type="password"
                        value="iwantmytreasure"
                        password-reveal
                      >
                      </b-input>
                    </b-field>
                    <span class="required">{{ errors[0] }}</span>
                  </ValidationProvider>
                </div>

                <div class="column">
                  <b-button type="is-primary" native-type="submit"
                    >Login</b-button
                  >
                </div>
              </div>
            </div>
          </section>
        </form>
      </ValidationObserver>
    </div>
  </div>
</template>

<script>
import JWTService from "../../../js/helpers/jwt.service";

export default {
  data() {
    return {
      form: {
        email: "",
        password: "",
      },
    };
  },
  methods: {
    login() {
      let sentdata = {
        email: this.form.email,
        password: this.form.password
      };

      axios.post(process.env.MIX_BACKEND_URL + "/api/login", sentdata)
        .then((response) => {
          if (response.data.meta.status_code == 200) {
            this.setCookie(response.data.data);
            this.success(response.data.meta.message);
            this.$router.push({ path: "/" });
            location.reload();
          } else {
            this.danger(response.data.meta.message);
          }
        })
        .catch((err) => {
          alert(err);
        });
    },
    setCookie(data) {
      JWTService.saveUser(data);
    },
    success(message) {
      this.$buefy.toast.open({
        message: message,
        type: "is-success",
      });
    },
    danger(message) {
      this.$buefy.toast.open({
        message: message,
        type: "is-danger",
      });
    },
  },
};
</script>

<style scoped>
@media screen and (max-width: 1023px) {
  .columns {
    margin-top: 0 !important;
  }
}
</style>