<template>
  <div class="columns is-centered" style="align-items: center">
    <div class="column is-half">
      <ValidationObserver v-slot="{ handleSubmit }">
        <form @submit.prevent="handleSubmit(register)">
          <section class="section is-main-section">
            <div class="card">
              <div class="card-content" style="position: relative">
                <div class="content-image is-flex" style="justify-content: center;">
                  <figure class="image is-64x64">
                    <img src="../../../assets/logo.png" alt="Logo" />
                  </figure>
                </div>
                <p style="text-align: center; font-size: 24px"><b>Register</b></p>
                <br />

                <div class="column">
                  <ValidationProvider
                    :vid="`name`"
                    name="name"
                    rules="required"
                    v-slot="{ errors }"
                  >
                    <b-field
                      :type="errors.length > 0 ? 'is-danger' : null"
                    >
                      <template slot="label">
                        Name
                        <span class="required">*</span>
                      </template>
                      <b-input v-model="form.name"></b-input>
                    </b-field>
                    <span class="required">{{ errors[0] }}</span>
                  </ValidationProvider>
                </div>

                <div class="column">
                  <ValidationProvider
                    :vid="`email`"
                    name="email"
                    rules="required|email"
                    v-slot="{ errors }"
                  >
                    <b-field
                      :type="errors.length > 0 ? 'is-danger' : null"
                    >
                      <template slot="label">
                        Email
                        <span class="required">*</span>
                      </template>
                      <b-input v-model="form.email"></b-input>
                    </b-field>
                    <span class="required">{{ errors[0] }}</span>
                  </ValidationProvider>
                </div>

                <div class="column">
                  <ValidationProvider
                    :vid="`type`"
                    name="type"
                    rules="required"
                    v-slot="{ errors }"
                  >
                    <b-field
                      :type="errors.length > 0 ? 'is-danger' : null"
                    >
                      <template slot="label">
                        Role
                        <span class="required">*</span>
                      </template>
                      <b-select v-model="form.role" placeholder="Select a role" expanded>
                        <option value="teacher">Teacher</option>
                        <option value="student">Student</option>
                      </b-select>
                    </b-field>
                    <span class="required">{{ errors[0] }}</span>
                  </ValidationProvider>
                </div>

                <div class="column">
                  <ValidationProvider
                    :vid="`password`"
                    name="password"
                    rules="required"
                    v-slot="{ errors }"
                  >
                    <b-field
                      :type="errors.length > 0 ? 'is-danger' : null"
                    >
                      <template slot="label">
                        Password
                        <span class="required">*</span>
                      </template>
                      <b-input
                        v-model="form.password"
                        type="password"
                        password-reveal
                      >
                      </b-input>
                    </b-field>
                    <span class="required">{{ errors[0] }}</span>
                  </ValidationProvider>
                </div>

                <div class="column">
                  <ValidationProvider
                    :vid="`confirmation`"
                    name="confirmation"
                    rules="required|password:password"
                    v-slot="{ errors }"
                  >
                    <b-field
                      :type="errors.length > 0 ? 'is-danger' : null"
                    >
                      <template slot="label">
                        Confirmation Password
                        <span class="required">*</span>
                      </template>
                      <b-input
                        v-model="form.confirmation"
                        type="password"
                        password-reveal
                      >
                      </b-input>
                    </b-field>
                    <span class="required">{{ errors[0] }}</span>
                  </ValidationProvider>
                </div>

                <div class="column">
                  <b-button type="is-primary" native-type="submit"
                    >Sign Up</b-button
                  >
                </div>
              </div>
            </div>
          </section>
        </form>
      </ValidationObserver>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      form: {
        name: "",
        email: "",
        role: null,
        password: "",
        confirmation: ""
      },
      
    };
  },
  methods: {
    register() {
      let sentdata = {
        name: this.form.name,
        email: this.form.email,
        role: this.form.role,
        password: this.form.password
      };

      axios.post(process.env.MIX_BACKEND_URL + '/api/register', sentdata)
        .then((response) => {
          if (response.data.meta.status_code == 200) {
            this.success(response.data.meta.message);
            this.$router.push({ path:'/login' });
          } else {
            this.danger(response.data.meta.message);
          }
        })
        .catch((err) => {
          alert(err);
        });
    },
    success(message) {
      this.$buefy.toast.open({
        message: message,
        type: "is-success",
      });
    },
    danger(message) {
      this.$buefy.toast.open({
        message: message,
        type: "is-danger",
      });
    },
  },
};
</script>